<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<h1>Join Form(회원가입 폼)</h1>
<hr>
<div>
	<form name="frm">
		<input type="text" name="username" placeholder="Input username...."><br>
		<input type="text" name="password" placeholder="Input password...."><br>
		<input type="text" name="name" placeholder="Input name...."><br>
		<input type="submit" value="회원등록" onclick="submitForm(event)">
	</form>
</div>
<div id="demo"></div>
<script>
	function submitForm(event){
		event.preventDefault();
		alert("submit.....");
		
		var form = document.forms['frm'];
		var formData = $("form").serialize();
		
		$.ajax({
			type: "POST",
			url: "http://localhost:9001/joinProc",
			contentType: "application/x-www-form-urlencoded",
			data: formData,
			dataType: "text",
			success: function(data){
				if(data === "등록 성공"){
					alert("회원가입이 완료되었습니다.");
					window.location.href="http://localhost:8080/login";
				} else{
					alert("회원가입을 다시 시도해주세요.");
					window.location.href="http://localhost:8080/join";
				}
				console.log(data);
				$("#demo").html(data);
			},
			error: function(){
				console.log("에러 발생....");
			}
		});
		
		
	}
</script>
</body>
</html>