<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Board List</h1>
<hr>
<div>
<table border="1">
	<thead>
		<tr>
			<th>bno</th><th>Title</th><th>Writer</th><th>OriginName</th><th>Img</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="board : ${boardList}">
			<td>[[${board.bno}]]</td>
			<td><a th:href="@{|/member/detail?bno=${board.bno}|}">[[${board.title}]]</a></td>
			<td>[[${board.member.username}]]</td>
			<td>[[${board.originName}]]</td>
			<td><img th:src="@{/images/{thumbnail}(thumbnail=${board.thumbnailName})}" /><td>
</td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>